#Product-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#Product-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.product-name {
    margin-top: 20px;
    font-size: 24px;
}

.product-description {
    margin-top: 10px;
    color: #666;
}

mark {
    display: block;
    margin-top: 10px;
    font-style: italic;
}

button {
    margin-top: 10px;
    margin-right: 20px;
    background-color: #2d2e2d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.card button:last-child {
    margin-right: 0;
    /* removes margin form previous btn */
}

button:hover {
    background-color: #0056b3;
}